#location {
  width: 300px;
  margin-right: 15px;
}

#row {
  margin: auto;
  width: auto;
  padding-left: 444px;
}

#git-img {
  height: 27px;
  margin-bottom: -8px;
}

#rating {
  margin-bottom: -5px;
}

.goingBtn {
  margin: 5px;
}